{% verbatim %}
<script type="text/x-template" id="prop-value-editor">
  <div class="c-prop-value-editor">
    <div v-if="!_.isUndefined(choices)">
      <select v-model="fieldValue">
        <option v-for="choice in choices" v-bind:value="choice">{{choice}}</option>
      </select>
    </div>
    <div v-else>
      <div v-if="valueType == 'upload'" class="uploads">
        <div v-if="uploading">
          <i class="fa fa-spinner fa-spin"></i>
        </div>
        <div v-else>
          <div v-if="fieldValue">
            <a :href="fieldValue" target="_blank">
              File link
            </a><br />
            <a href="#" @click.prevent="fieldValue = ''">
              (Remove file)
            </a>
          </div>
          <div v-else>
            <input type="file" @change="onFileChange">
          </div>
        </div>
      </div>


      <div v-if="valueType == 'string'">
        <input type="text" class="form-control" v-model="fieldValue">
      </div>

      <div v-if="valueType == 'text'">
        <textarea type="text" class="form-control" v-model="fieldValue"></textarea>
      </div>
    </div>
  </div>
</script>
{% endverbatim %}

<script>
Vue.component('prop-value-editor', {
  template: '#prop-value-editor',
  props: ["value", "valueType", "choices"],
  data: function() {
    return {
      fieldValue: this.value,
      uploading: false
    };
  },
  methods: {
    onFileChange: function(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;

      var vm = this;
      this.uploading = true;

      axios.get("/admin/react_cms/uploadedfile/add/")
        .then(function(response) {
          var rg = /'csrfmiddlewaretoken' value='(.*)'/.exec(response.data);
          csrf_token = rg[1];

          var data = new FormData();
          data.append('csrfmiddlewaretoken', csrf_token);
          data.append('file', files[0]);
          data.append('_continue', true);

          axios.post("/admin/react_cms/uploadedfile/add/", data)
            .then(function(response) {
              var path = /<p class="file-upload">Currently: <a href="(.*)">/.exec(response.data);
              // path can either be a relative path, like /xxxx or a full url with protocol and hostname
              if (path.substr(0,4) === "http") {
                var full_url = path;
              } else {
                var full_url = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '') + path[1];
              }
              vm.uploading = false;
              vm.fieldValue = full_url;
            })
        })
    }
  },
  watch: {
    fieldValue: function(v) {
      this.$emit("change", v);
    }
  }
})
</script>

<style>
  .c-prop-value-editor {
    
  }
</style>
